.searchForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchForm>details {
    padding-right: 10px;
}

.searchForm>.search {
    max-width: 600px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardImage {
    width: 500px;
    max-height: 350px;
}

article {
    margin: 25px;
    border-radius: 25px;
}

.cardText {
    margin: 12px;
}